<% /* item: { uuid, type, value, elements?, isVisible? } */ %>
    <div class="content-chunk">
        <div class="drag-handle">::</div>

        <div data-uuid="<%= item.uuid %>"
            class="feedback-item <%= item.highlighted ? 'highlighted' : '' %> item-list media-list">
            <div class="editButtons">
                <% if (item.type==='page' ) { %>
                    <!-- Page delete opens confirm modal -->
                    <button type="button" data-bs-uuid="<%= item.uuid %>" data-bs-toggle="modal"
                        data-bs-elementtype="page" data-bs-target="#pageDeleteModal" class="btn item-delete-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" name="deleteIcon" width="24" height="24"
                            viewBox="0 -960 960 960">
                            <path
                                d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120zm400-600H280v520h400zM360-280h80v-360h-80zm160 0h80v-360h-80zM280-720v520z" />
                        </svg>
                    </button>
                    <% } else { %>
                        <!-- Element delete: instant -->
                        <button type="button" data-bs-uuid="<%= item.uuid %>" class="btn item-delete-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" name="deleteIcon" width="24" height="24"
                                viewBox="0 -960 960 960">
                                <path
                                    d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120zm400-600H280v520h400zM360-280h80v-360h-80zm160 0h80v-360h-80zM280-720v520z" />
                            </svg>
                        </button>
                        <% } %>

                            <!-- Edit -->
                            <button type="button" class="btn editElement"
                                data-bs-elementsubtype="<%= (item.value.split('_')[0] == " user" ? "user" : "auto" ) %>"
                                data-bs-toggle="modal"
                                data-bs-request="PUT" data-bs-storyuuid="<%=storyuuid%>" data-bs-elementtype="<%=
                                        item.type %>"
                                        data-bs-elementtitle="<%= item.title %>" data-bs-elementuuid="<%= item.uuid %>"
                                                data-bs-elementvalue="<%= item.value || '' %>"
                                                    data-bs-newline="<%= item.newline || false %>"
                                                        data-bs-target="#<%= item.type %>UpdateModal">
                                                            <svg xmlns="http://www.w3.org/2000/svg" name="editIcon"
                                                                width="24" height="24" viewBox="0 -960 960 960">
                                                                <path
                                                                    d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120zm160-240v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5-5.5 29.5T897-728L530-360zm481-424-56-56zM440-440h56l232-232-28-28-29-28-231 231zm260-260-29-28zl28 28z" />
                                                            </svg>
                            </button>
            </div>
            <div
                class="feedback-item <%= item.type %> <%= item.type !== 'page' && item.isVisible === false ? 'edit-hidden' : '' %>">
                <div class="feedback-info media-body">
                    <div class="feedback-head">
                        <div class="feedback-title">
                            <% if (item.type==='page' ) { %>
                                <a class="pageLink" href="/page/<%= item.uuid %>/edit">
                                    <%= item.value %>
                                </a>
                                <% } %>
                        </div>
                        <!-- If this is a "page", display the tiny icons, plus count of text, images, and choices -->
                        <% if (item.type==='page' && item.elements) { %>
                            <%- include('./listDisplayItems/display_pageIcons', {item: item}) %>
                                <% } %>
                    </div>
                    <!-- Display the appropriate HTML tag based on the type of element -->
                    <div class="feedback-message">
                        <% if (item.type==='page' ) { %>
                            <%- include('./listDisplayItems/display_page', {item: item}) %>
                                <% } else if (item.type==='text' ) { %>
                                    <%- include('./listDisplayItems/display_text', {item: item}) %>
                                        <% } else if (item.type==='image' ) { %>
                                            <%- include('./listDisplayItems/display_image', {item: item}) %>
                                                <% } else if (item.type==='choice' ) { %>
                                                    <%- include('./listDisplayItems/display_choice', {item: item,
                                                        allPageUUIDs:allPageUUIDs}) %>
                                                        <% } else if (item.type==='event' ) { %>
                                                            <%- include('./listDisplayItems/display_event', {item:
                                                                item}) %>
                                                                <% } else if (item.type==='condition' ) { %>
                                                                    <%- include('./listDisplayItems/display_condition',
                                                                        {item: item}) %>
                                                                        <% } else if (item.type==='dynamic' ) { %>
                                                                            <%- include('./listDisplayItems/display_dynamic',
                                                                                {item: item}) %>
                                                                                <%}%>
                    </div>
                </div>

                <% if (item.type !=='page' && item.elements) { %>
                    <div class="feedback-message">
                        <%- include('./listDisplayItems/display_elementIcons', {item:item}) %>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>