<% /* item: { uuid, type, value, elements?, isVisible? } */ %>
    <div class="content-chunk">
        <div class="drag-handle">::</div>

        <div data-uuid="<%= item.uuid %>" class="feedback-item item-list media-list">
            <div class="editButtons">
                <% if (item.type==='page' ) { %>
                    <!-- Page delete opens confirm modal -->
                    <button type="button" data-bs-uuid="<%= item.uuid %>" data-bs-toggle="modal"
                        data-bs-elementtype="page" data-bs-target="#pageDeleteModal" class="btn item-delete-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" name="deleteIcon" width="24" height="24"
                            viewBox="0 -960 960 960">
                            <path
                                d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120zm400-600H280v520h400zM360-280h80v-360h-80zm160 0h80v-360h-80zM280-720v520z" />
                        </svg>
                    </button>
                    <% } else { %>
                        <!-- Element delete: instant -->
                        <button type="button" data-bs-uuid="<%= item.uuid %>" class="btn item-delete-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" name="deleteIcon" width="24" height="24"
                                viewBox="0 -960 960 960">
                                <path
                                    d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120zm400-600H280v520h400zM360-280h80v-360h-80zm160 0h80v-360h-80zM280-720v520z" />
                            </svg>
                        </button>
                        <% } %>

                            <!-- Edit -->
                            <button type="button" class="btn editElement" data-bs-toggle="modal" data-bs-request="PUT"
                                data-bs-elementtype="<%= item.type %>" data-bs-elementtitle="<%= item.title %>"
                                data-bs-elementuuid="<%= item.uuid %>" data-bs-elementvalue="<%= item.value || '' %>"
                                data-bs-target="#<%= item.type %>UpdateModal">
                                <svg xmlns="http://www.w3.org/2000/svg" name="editIcon" width="24" height="24"
                                    viewBox="0 -960 960 960">
                                    <path
                                        d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120zm160-240v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5-5.5 29.5T897-728L530-360zm481-424-56-56zM440-440h56l232-232-28-28-29-28-231 231zm260-260-29-28zl28 28z" />
                                </svg>
                            </button>
            </div>

            <div
                class="feedback-item <%= item.type %> <%= item.type !== 'page' && item.isVisible === false ? 'edit-hidden' : '' %>">
                <div class="feedback-info media-body">
                    <div class="feedback-head">
                        <div class="feedback-title">
                            <% if (item.type==='page' ) { %>
                                <%= item.value %>
                                    <% } else if (item.type==='condition' ) { %>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-question-diamond" viewBox="0 0 16 16">
                                            <path
                                                d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.48 1.48 0 0 1 0-2.098zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z" />
                                            <path
                                                d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94" />
                                        </svg> Condition:
                                        <% } %>
                        </div>
                        <!-- If this is a "page", display the tiny icons, plus count of text, images, and choices -->
                        <% if (item.type==='page' && item.elements) { %>
                            <% const t=item.elements.filter(el=> el.type === 'text').length; %>
                                <% const i=item.elements.filter(el=> el.type === 'image').length; %>
                                    <% const c=item.elements.filter(el=> el.type === 'choice').length; %>
                                        <% if (t) { %>
                                            <div class="pageIcon"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                    height="16" fill="currentColor" class="bi bi-type"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="m2.244 13.081.943-2.803H6.66l.944 2.803H8.86L5.54 3.75H4.322L1 13.081zm2.7-7.923L6.34 9.314H3.51l1.4-4.156zm9.146 7.027h.035v.896h1.128V8.125c0-1.51-1.114-2.345-2.646-2.345-1.736 0-2.59.916-2.666 2.174h1.108c.068-.718.595-1.19 1.517-1.19.971 0 1.518.52 1.518 1.464v.731H12.19c-1.647.007-2.522.8-2.522 2.058 0 1.319.957 2.18 2.345 2.18 1.06 0 1.716-.43 2.078-1.011z" />
                                                </svg>
                                                <div>
                                                    <%= t %>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% if (i) { %>
                                                    <div class="pageIcon"><svg xmlns="http://www.w3.org/2000/svg"
                                                            width="16" height="16" fill="currentColor"
                                                            class="bi bi-image" viewBox="0 0 16 16">
                                                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                                                            <path
                                                                d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2z" />
                                                        </svg>
                                                        <div>
                                                            <%= i %>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                        <% if (c) { %>
                                                            <div class="pageIcon"><svg
                                                                    xmlns="http://www.w3.org/2000/svg" width="16"
                                                                    height="16" fill="currentColor"
                                                                    class="bi bi-link-45deg" viewBox="0 0 16 16">
                                                                    <path
                                                                        d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z" />
                                                                    <path
                                                                        d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z" />
                                                                </svg>
                                                                <div>
                                                                    <%= c %>
                                                                </div>
                                                            </div>
                                                            <% } %>
                                                                <% } %>
                    </div>
                    <!-- Display the appropriate HTML tag based on the type of element -->
                    <div class="feedback-message">
                        <% if (item.type==='page' ) { %>
                            <a class="pageLink" href="/page/<%= item.uuid %>/edit">View Page</a>
                            <% } else if (item.type==='text' ) { %>
                                <p class="pageText">
                                    <%= item.value %>
                                </p>
                                <% } else if (item.type==='image' ) { %>
                                    <img class="pageImage" src="/uploads/<%= item.value %>">
                                    <% } else if (item.type==='choice' ) { %>
                                        <!-- If type choice, split the text value and isolate the UUID destination -->
                                        <% const parts=String(item.value||'').split('||'); %>
                                            <% const label=parts[0] || '' ; const dest=parts[1] || '' ; %>
                                                <% if (dest) { %>
                                                    <strong><a class="pageLink choiceLink" data-uuid="<%= item.uuid %>"
                                                            href="/page/<%= dest %>/edit">
                                                            <%= label %>
                                                        </a></strong>
                                                    <% } else { %>
                                                        <a class="pageLink">
                                                            <%= label %>
                                                        </a>
                                                        <% } %>
                                                            <% } else if (item.type==='event' ) { %>
                                                                <% const [eType='' , p='' , o='' , v=''
                                                                    ]=String(item.value||'').split('_'); %>
                                                                    <% if(eType=='auto' ){%>
                                                                        <strong><!--(svg)--> Custom <%= eType %> event:
                                                                                <%= p %>
                                                                                    <%= o %>
                                                                                        <%= v %></strong>
                                                                        <%}else{%>
                                                                            <strong><a class="pageLink userevent"
                                                                                    data-uuid="<%=item.uuid%>"
                                                                                    href="javascript:void(0)">
                                                                                    <%= item.title %>
                                                                                </a></strong>
                                                                            <%}%>
                                                                                <% } else if (item.type==='condition' )
                                                                                    { %>
                                                                                    <p>
                                                                                        <%= item.value %>
                                                                                    </p>
                                                                                    <% } %>
                    </div>
                </div>

                <% if (item.type !=='page' && item.elements && item.elements.length) { %>
                    <div class="feedback-message">
                        <p><a class="pageLink" href="/page/<%= item.uuid %>/edit"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-question-diamond" viewBox="0 0 16 16">
                                    <path
                                        d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.48 1.48 0 0 1 0-2.098zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z" />
                                    <path
                                        d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94" />
                                </svg>: <%= item.elements.length %></a></p>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>