<div class="modal fade elementModal" id="textUpdateModal" tabindex="-1" aria-labelledby="textUpdateLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <%- include('./modals/formElementTextModal', {uuid:pageData.uuid}); %>
    </div>
</div>
<div class="modal fade elementModal" id="imageUpdateModal" tabindex="-1" aria-labelledby="elementUpdateLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <%- include('./modals/formElementImageModal', {uuid:pageData.uuid}); %>
    </div>
</div>
<div class="modal fade elementAiModal" id="aiimageUpdateModal" tabindex="-1" aria-labelledby="elementUpdateLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <%- include('./modals/formElementImageModal_AI', {uuid:pageData.uuid}); %>
    </div>
</div>
<div class="modal fade elementModal" id="choiceUpdateModal" tabindex="-1" aria-labelledby="elementUpdateLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <%- include('./modals/formElementChoiceModal', {uuid:pageData.uuid}); %>
    </div>
</div>
<div class="modal fade elementModal" id="eventUpdateModal" tabindex="-1" aria-labelledby="eventUpdateLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <%- include('./modals/formElementEventModal', {uuid:pageData.uuid}); %>
    </div>
</div>
<div class="modal fade elementModal" id="conditionUpdateModal" tabindex="-1" aria-labelledby="textUpdateLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <%- include('./modals/formElementConditionModal', {uuid:pageData.uuid}); %>
    </div>
</div>
<div class="modal fade elementModal" id="pageUpdateModal" tabindex="-1" aria-labelledby="pageUpdateLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <%- include('./modals/formPageModal', {uuid:pageData.uuid}); %>
    </div>
</div>
<div class="modal fade" id="pageDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Delete Page?</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="deletePageFromModalBtn" class="btn btn-danger">Remove Page</button>
            </div>
        </div>
    </div>
</div>