<div data-uuid="<%=item.uuid %>" class="feedback-item item-list media-list">
    <div data-uuid="<%=item.uuid %>" data-toggle="modal" data-target="#deletePageModalCenter"
        class="btn page-item-delete-btn">X</div>
    <div class="feedback-item <%=item.type %>">
        <div class="feedback-info media-body">
            <div class="feedback-head">
                <div class="feedback-title">
                    <%=item.title %>
                </div>
                <small>Page ID: <%=item.uuid %></small>
            </div>
            <div class="feedback-message">
                <a href="/page/<%=item.uuid %>/edit">
                    Edit Page
                </a>
            </div>
        </div>
    </div>
</div>