<div id="container" class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="maincontent feedback">
                <h2>
                    Conditions
                </h2>
                <div id="eventList">
                    <% pageData.conditions.forEach((evt)=>{%>
                        <div class="event-item">
                            "<%=evt.obj.value%>" at page "<a href='/page/<%=evt.pageUUID%>/edit?q=<%=evt.obj.parent%>'>
                                    <%=evt.pageTitle%>
                                </a>"
                        </div>
                        <%})%>

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="maincontent feedback">
                <h2>
                    Events
                </h2>
                <div id="eventList">
                    <% pageData.events.forEach((evt)=>{%>
                        <div class="event-item">
                            "<%=evt.obj.value%>" at page "<a href='/page/<%=evt.pageUUID%>/edit?q=<%=evt.obj.uuid%>'>
                                    <%=evt.pageTitle%>
                                </a>"
                        </div>
                        <%})%>

                </div>

            </div>
        </div>
    </div>

</div>