<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="maincontent">
                <h1>Create New Page</h1>
                <label for="storyElementPicker">Choose a story element to add:</label>
                <select id="storyElementPicker" name="element" onchange="changeElement()">
                    <option value="element-text">Text</option>
                    <option value="element-image">Image</option>
                    <option value="element-choice">Choice</option>
                </select>
                <%- include('partials/formNewPage', {uuid: uuid}); %>
                    <div class="feedback-status">
                        <% if(locals.errors){%>
                            <div class="alert alert-danger">
                            </div>
                            <%}else if(locals.successMessage) {%>
                                <div class="alert alert-success">
                                    <%= successMessage %>
                                </div>
                                <%}%>
                    </div>
                    <%- include('partials/formElementText', {uuid:story.uuid}); %>
                        <%- include('partials/formElementImage', {uuid:story.uuid}); %>
                            <%- include('partials/formElementChoice', {data:pages, uuid:story.uuid}); %>
            </div>
        </div>
        <aside class="col-md-8">
            <div class="maincontent feedback">
                <h1>
                    Pages Created
                </h1>

                <div class="feedback-items">
                    <% pages.forEach(function (item) {%>
                        <%- include('partials/pagePartial', {item}); %>

                            <%})%>

                </div>
            </div>
        </aside>
        <%- include('partials/deletePageModal', {}); %>
    </div>
</div>