<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="maincontent">
                <h1>Create New Story Element</h1>
                <p>Choose a story element to add:</p>
                <button type="button" class="btn btn-secondary newElement" data-bs-toggle="modal" data-bs-request="POST"
                    data-bs-elementtype="text" data-bs-elementuuid="<%=pageData.uuid %>" data-bs-elementvalue=""
                    data-bs-target="#textUpdateModal">New
                    Text</button>
                <button type="button" class="btn btn-secondary newElement" data-bs-toggle="modal" data-bs-request="POST"
                    data-bs-elementtype="image" data-bs-elementuuid="<%=pageData.uuid %>" data-bs-elementvalue=""
                    data-bs-target="#imageUpdateModal">New Image</button>
                <button type="button" class="btn btn-secondary newElement" data-bs-toggle="modal" data-bs-request="POST"
                    data-bs-elementtype="choice" data-bs-elementuuid="<%=pageData.uuid %>" data-bs-elementvalue=""
                    data-bs-target="#choiceUpdateModal">New Choice</button>

                <div class="feedback-status">
                    <% if(locals.errors){%>
                        <div class="alert alert-danger">
                            <ul>
                                <% errors.forEach(function (error){%>
                                    <li>
                                        <%= error.msg %>
                                    </li>
                                    <%})%>
                            </ul>
                        </div>
                        <%}else if(locals.successMessage) {%>
                            <div class="alert alert-success">
                                <%= successMessage %>
                            </div>
                            <%}%>
                </div>
            </div>
        </div>
        <aside class="col-md-8">
            <div class="maincontent feedback">
                <h1>
                    <%= pageData.title %>
                </h1>

                <div class="feedback-items">
                    <% pageData.elements.forEach(function (item) {%>
                        <%- include('partials/elementPartial', {item: item}); %>
                            <%})%>

                </div>
            </div>
        </aside>
    </div>
    <div class="modal fade elementModal" id="textUpdateModal" tabindex="-1" aria-labelledby="textUpdateLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <%- include('partials/formElementTextModal', {uuid:pageData.uuid}); %>
        </div>
    </div>
    <div class="modal fade elementModal" id="imageUpdateModal" tabindex="-1" aria-labelledby="elementUpdateLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <%- include('partials/formElementImageModal', {uuid:pageData.uuid}); %>
        </div>
    </div>
    <div class="modal fade elementModal" id="choiceUpdateModal" tabindex="-1" aria-labelledby="textUpdateLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <%- include('partials/formElementChoiceModal', {uuid:pageData.uuid}); %>
        </div>
    </div>
    <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center"
        style="min-height: 200px;">
        <!-- Position it -->
        <div style="position: fixed; top: 0; right: 0;">

            <!-- Then put toasts within -->
            <div id="myTextToast" class="toast successToast" role="alert" aria-live="assertive" data-autohide="false"
                aria-atomic="true">
                <div class="toast-header successToast">
                    <!-- <img src="..." class="rounded mr-2" alt="..."> -->
                    <strong class="mr-auto">Success</strong>
                    <small class="text-muted">just now</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    New Text Element Created!
                </div>
            </div>

            <div id="myImageToast" class="toast successToast" role="alert" aria-live="assertive" data-autohide="false"
                aria-atomic="true">
                <div class="toast-header successToast">
                    <!-- <img src="..." class="rounded mr-2" alt="..."> -->
                    <strong class="mr-auto">Success</strong>
                    <small class="text-muted">2 seconds ago</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    New Image Element Created!
                </div>
            </div>

            <div id="myChoiceToast" class="toast successToast" role="alert" aria-live="assertive" data-autohide="false"
                aria-atomic="true">
                <div class="toast-header successToast">
                    <!-- <img src="..." class="rounded mr-2" alt="..."> -->
                    <strong class="mr-auto">Success</strong>
                    <small class="text-muted">2 seconds ago</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    New Choice Element Created!
                </div>
            </div>
        </div>
    </div>


</div>