<span data-uuid="<%= item.uuid %>"
    class="<%= item.type %> <%= item.type !== 'page' && item.isVisible === false ? 'edit-hidden' : '' %>">
    <% if (item.type==='page' ) { %>
        <%- include('./listDisplayItems/display_page', {item: item}) %>
            <% } else if (item.type==='text' ) { %>
                <%- include('./listDisplayItems/display_text', {item: item}) %>
                    <% } else if (item.type==='image' ) { %>
                        <%- include('./listDisplayItems/display_image', {item: item}) %>
                            <% } else if (item.type==='choice' ) { %>
                                <%- include('./listDisplayItems/display_choice', {item: item}) %>
                                    <% } else if (item.type==='event' ) { %>
                                        <%- include('./listDisplayItems/display_event', {item: item}) %>
                                            <% } else if (item.type==='condition' ) { %>
                                                <%- include('./listDisplayItems/display_condition', {item: item}) %>
                                                    <% } else if (item.type==='dynamic' ) { %>
                                                        <%- include('./listDisplayItems/display_dynamic', {item:
                                                            item})%>
                                                            <% } %>
</span>