<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title element-modal-title" id="modalchoiceLabel">Form Title</h5>
    </div>
    <div class="modal-body">

        <form id="choiceFormModal" class="row g-3 mb-3 was-validated" novalidate>
            <div class="container-fluid">
                <input type="hidden" name="hiddenstoryuuid" id="hiddenstoryuuid" value="<%=uuid %>">
                <input type="hidden" name="hiddenchoiceuuid" id="hiddenchoiceuuid" value="<%=uuid %>">
                <input type="hidden" name="section" value="elements">
                <input type="hidden" id="destinationModal" name="destinationModal" value="">
                <input type="hidden" id="choicerequest" name="choicerequest" value="">
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-md-12 input-group">
                        <span class="input-group-text" id="basic-addon3">Link Label:</span>
                        <input type="text" class="form-control" name="modalchoiceInput" id="modalchoiceInput"
                            aria-describedby="basic-addon3 basic-addon4">
                    </div>
                </div>
                <div class="row">
                    <div class="col input-group">
                        <label class="input-group-text" for="inputGroupSelect01">Link to Page:</label>
                        <select class="form-select" id="choiceDestinationModal"
                            onchange="changeChoiceDestinationModal()">
                            <option selected value="New">Create New Page</option>
                            <option value="Event">No Page - Trigger Events Only</option>
                            <% for (let i=0; i < pages.length; i++){ %>
                                <option value="<%= pages[i].uuid %>">
                                    <%=pages[i].title%>
                                </option>
                                <%}%>
                        </select>
                        <div class="col"><input type="checkbox" id="choicedispatchevent" name="choicedispatchevent">
                            <label for="choicedispatchevent" class="form-label">Trigger
                                Event On Click</label>
                        </div>

                    </div>
                    <div class="col-md-12"><input type="checkbox" id="choicenewline" name="choicenewline"> <label
                            for="choicenewline" class="form-label">Make this choice in-line with the text</label>
                    </div>

                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a id="modalchoiceConditions" href="">Review Conditions For This Choice ></a>
                    </div>
                    <div class="col modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                </div>

            </div>
        </form>


    </div>



</div>

</div>
<%- include('formElementValidation', {}); %>
    <script>
        function changeChoiceDestinationModal(display = null) {

            let dropdown = document.getElementById('choiceDestinationModal');
            let hiddenchoiceuuid = document.getElementById("hiddenchoiceuuid");
            let destinationModal = document.getElementById("destinationModal");

            if (display) {
                // console.log("---choice display!")
                destinationModal.value = display;
            } else {
                console.log("----NO DISPLAY FROM MENU ");
                destinationModal.value = dropdown.value
            }

            console.log("calling changeChoiceDestinationModal() ", dropdown.value);

        }
        // setTimeout(() => {
        //     changeChoiceDestinationModal("Create New Page");
        // }, 2000);
        changeChoiceDestinationModal("Create New Page");
    </script>